.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: rgb(10, 92, 155);
    color: #ffffff;
    border-radius: 8px 8px 0 0 ;
    
    margin-top: 20px;
  }
  
  .footer-content {
    text-align: center;
    margin-bottom: 10px;
    color: #080b01;
  }
  
  .footer p {
    margin: 5px 0;
  }
  
  .footer-tagline {
    font-size: 0.9rem;
    color: #f1faee;
  }
  
  .social-links {
    display: flex;
    gap: 20px;
  }
  
  .social-links a {
    color:whitesmoke;
    font-size: 1.5rem;
    text-decoration: none;
    transition: transform 0.2s ease, color 0.2s ease;
  }
  
  .social-links a:hover {
    color:black;
    transform: scale(1.1);
  }
  