.editor {
    width: 48%;
    padding: 20px;
    border-right: 1px solid #ccc;
    color:whitesmoke;
  }
  
  .editor textarea {
    font-size: 16px;
    line-height: 1.5;
    background-color: rgb(23, 22, 22);
  }

  
  